body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #434455;
    width: 1440px;
    height: 3300px;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-web {
    color: #4d5ae5;
}

.logo-studio {
    color: #2e2f42;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav a {
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #404BBF;
}

.contact-info {
    display: flex;
    gap: 40px;
}

.contact-info a {
    color: #434455;
    text-decoration: none;
}

.contact-info a:hover {
    color: #404BBF;
}

.hero {
    background-color: #2e2f42;
    color: #fff;
    text-align: center;
    padding: 188px 0;
}

.hero h1 {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 48px;
}

.cta-button {
    background-color: #4d5ae5;
    color: #fff;
    border: none;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    width: 169px;
    height: 56px;
}

.cta-button:hover {
    background-color: #404BBF;
}

.features {
    padding: 120px 0;
}

ul {
    list-style-type: none;
}

.features-list {
    display: flex;
    gap: 24px;
}

.feature-item {
    flex: 1;
}

.feature-item h3 {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-card {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08);
    text-align: center;
}

.team-card img {
    width: 100%;
    height: auto;
}

.team-info {
    padding: 32px 16px;
}

.team-name {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.portfolio {
    padding: 120px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
}

.portfolio-card {
    border-bottom: 1px solid #e7e9fc;
}

.portfolio-card img {
    width: 100%;
    height: auto;
}

.portfolio-info {
    padding: 32px 16px;
}

.portfolio-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

footer {
    background-color: #2e2f42;
    color: #f4f4fd;
    padding: 100px 0;
}

.footer-content {
    max-width: 264px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-studio-2 {
    color: #F4F4FD
}

.footer-text {
    line-height: 1.5;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}